<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Cyber-X</title>
   <link rel="stylesheet" href="/static/style/style.css">
   <link rel="stylesheet" href="/static/style/form.css">
</head>

<body>
   <nav class="navbar h-nav-resp">
      <div class="burger">
         <div class="bug-1"></div>
         <div class="bug-2"></div>
         <div class="bug-3"></div>
      </div>
      <ul class="nav-list v-class-resp">
         <div class="logo">
            <img src="/static/img/unnamed.png" alt="logo">
         </div>
         <li><a href="#home">Home</a></li>
         <li id="gameSection" onclick="mygamedropdown();"><a href="#courses">Games</a>
            <div class="games" id="games">
               <ul>
                  <li> <a href="/"> Action/Adventure </a> </li>
                  <li> <a href="/"> Horror</a> </li>
                  <li> <a href="/"> Sci-fi</a> </li>
                  <li> <a href="/"> Open world</a> </li>
                  <li> <a href="/"> Survival</a> </li>
               </ul>
            </div>
         </li>
         <li><a href="#about">PreOrder</a></li>
         <li><a href="#contact">Contact</a></li>
      </ul>

      <div class="right-nav v-class-resp">
         <input type="text" name="Search" id="Search" placeholder="Search here...">
         <button class="btn btn-sm">Search</button>
      </div>
   </nav>

   <div class="bg-img">

   </div>
   <div class="my-form">
      <h1>Contact Us</h1>
      <form action="/contact" method="POST">
         <input type="text" name="username" placeholder="username">
         <input type="email" name="email" placeholder="Email">
         <input type="number" name="phno" placeholder="Ph.number">
         <textarea name="message" name="desc" id="input" cols="30" rows="10"
            placeholder="write Your message here.."></textarea>
         <button class="sub-btn" type="submit">Submit</button>

      </form>
   </div>



   <footer class="footer">
      <h1>@All right reserved cyberx.com 2020-2021</h1>
      <p><a href=""> youtube</a> <a href="">| Facebook</a> <a href="">| Instagram</a> </p>
   </footer>

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <script src="/static/js/main.js"></script>
</body>

</html>
