<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cyber-X</title>
  <link rel="stylesheet" href="/static/style/style.css">
</head>

<body>
  <nav class="navbar h-nav-resp">
    <div class="burger">
      <div class="bug-1"></div>
      <div class="bug-2"></div>
      <div class="bug-3"></div>
    </div>
    <ul class="nav-list v-class-resp">
      <div class="logo">
        <img src="/static/img/unnamed.png" alt="logo">
      </div>
      <li><a href="#home">Home</a></li>
      <li id="gameSection" onclick="mygamedropdown();"><a href="#courses">Games</a>
        <div class="games" id="games">
          <ul>
            <li> <a href="/"> Action/Adventure </a> </li>
            <li> <a href="/"> Horror</a> </li>
            <li> <a href="/"> Sci-fi</a> </li>
            <li> <a href="/"> Open world</a> </li>
            <li> <a href="/"> Survival</a> </li>
          </ul>
        </div>
      </li>
      <li><a href="#about">PreOrder</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>

    <div class="right-nav v-class-resp">
      <input type="text" name="Search" id="Search" placeholder="Search here...">
      <button class="btn btn-sm">Search</button>
    </div>
  </nav>
