<%- include('header'); %>
  <section class="background firstsection">
    <div class="box-main">
      <div class="firstHalf">
        <p class="text-big">The Future of <span class="game-span">Gaming</span> is here.</p>
        <p class="text-small">"<span class="typing"></span>"
        </p>
        <div class="buttons">
          <button class="btn3">Shop now</button>
          <button class="btn4">Free demo's</button>
        </div>
      </div>
      <div class="secondHalf">
        <img src="/static/img/avatar.png" alt="future image">
      </div>
    </div>
  </section>

  <section class="secondsection">

    <div class="New-launch">
      <h2>Newly launched</h2>
    </div>

    <div class="cards">
      <div class="card1">
        <img src="/static/img/outlast2.jpg" alt="outlast2">
        <h2 class="card-head">Outlast 2</h2>
        <p class="card-para">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam voluptate voluptatibus soluta debitis. A
          facilis pariatur adipisci, libero nemo id maiores rerum, ipsam quisquam corporis, autem magni eius eum
          praesentium?
        </p>
        <div class="buy-btn">
          <button class="Purchase-btn">Buy Now</button>
          <button class="Purchase-btn2">Add to Cart</button>
        </div>
      </div>
      <div class="card2">
        <img src="/static/img/gta5.jpg" alt="">
        <h2 class="card-head">GTA-5</h2>
        <p class="card-para">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam voluptate voluptatibus soluta debitis. A
          facilis pariatur adipisci, libero nemo id maiores rerum, ipsam quisquam corporis, autem magni eius eum
          praesentium?
        </p>
        <div class="buy-btn">
          <button class="Purchase-btn">Buy Now</button>
          <button class="Purchase-btn2">Add to Cart</button>
        </div>
      </div>
      <div class="card3">
        <img src="/static/img/re7.jpg" alt="">
        <h2 class="card-head">Resident Evil 7 Biohazard</h2>
        <p class="card-para">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam voluptate voluptatibus soluta debitis. A
          facilis pariatur adipisci, libero nemo id maiores rerum, ipsam quisquam corporis, autem magni eius eum
          praesentium?
        </p>
        <div class="buy-btn">
          <button class="Purchase-btn">Buy Now</button>
          <button class="Purchase-btn2">Add to Cart</button>
        </div>
      </div>
    </div>

    <div class="cards2">
      <div class="card4">
        <img src="/static/img/WWE-2K20.png" alt="outlast2">
        <h2 class="card-head">WWE 2k20</h2>
        <p class="card-para">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam voluptate voluptatibus soluta debitis. A
          facilis pariatur adipisci, libero nemo id maiores rerum, ipsam quisquam corporis, autem magni eius eum
          praesentium?
        </p>
        <div class="buy-btn">
          <button class="Purchase-btn">Buy Now</button>
          <button class="Purchase-btn2">Add to Cart</button>
        </div>
      </div>
      <div class="card5">
        <img src="/static/img/pubg.jpg" alt="">
        <h2 class="card-head">Pubg</h2>
        <p class="card-para">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam voluptate voluptatibus soluta debitis. A
          facilis pariatur adipisci, libero nemo id maiores rerum, ipsam quisquam corporis, autem magni eius eum
          praesentium?
        </p>
        <div class="buy-btn">
          <button class="Purchase-btn">Buy Now</button>
          <button class="Purchase-btn2">Add to Cart</button>
        </div>
      </div>
      <div class="card6">
        <img src="/static/img/avatar.png" alt="">
        <h2 class="card-head">God Of War</h2>
        <p class="card-para">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam voluptate voluptatibus soluta debitis. A
          facilis pariatur adipisci, libero nemo id maiores rerum, ipsam quisquam corporis, autem magni eius eum
          praesentium?
        </p>
        <div class="buy-btn">
          <button class="Purchase-btn">Buy Now</button>
          <button class="Purchase-btn2">Add to Cart</button>
        </div>
      </div>
    </div>

  </section>

  <%- include('footer'); %>
