<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>successfull</title>
   <style>
      body{
         background-color: rgb(112, 189, 105);
         color: rgb(237, 237, 237)
      }
   </style>
</head>
<body>
   <p>Your message is successfull delivered to us .we will reply you as soon as pos</p>
</body>
</html>
